<nz-layout class="survey">
  <nz-header class="survey-header">
    <nz-page-header
      class="site-page-header"
      (nzBack)="onBack()"
      nzBackIcon
      nzTitle="Back"
      ><nz-page-header-extra>
        <nz-page-header-subtitle>This is a quiz</nz-page-header-subtitle>
      </nz-page-header-extra></nz-page-header
    >
  </nz-header>
  <nz-content class="survey-content">
    <h1>Are you registered as a voter?</h1>
    <div nz-row [nzGutter]="[16, 24]">
      <div nz-col class="button-group" [nzSpan]="24">
        <button
          nz-button
          nzType="primary"
          [nzSize]="size"
          nzShape="round"
          [routerLink]="['/survey/three']"
        >
          Yes
        </button>
      </div>
      <div nz-col class="button-group" [nzSpan]="24">
        <button
          nz-button
          nzType="primary"
          [nzSize]="size"
          nzShape="round"
          [routerLink]="['/survey/three2']"
        >
          No
        </button>
      </div>
      <div nz-col class="skip" [nzSpan]="24">
        <a nz-button nzType="link" [routerLink]="['/dashboard']">Skip</a>
      </div>
    </div>
  </nz-content>
</nz-layout>
