.survey {
  position: absolute;
  padding: 10px;
  width: 100%;
  height: 100%;
  background-image: url("../asset/survey-bac.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.survey .survey-header {
  padding: 0;
  background-color: transparent;
}
.survey-content {
  padding: 0 20px;
  margin-top: 30px;
  height: 100px;
}
.button-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
