<nz-layout class="survey">
  <nz-header class="survey-header">
    <nz-page-header
      class="site-page-header"
      (nzBack)="onBack()"
      nzTitle="Login"
    ></nz-page-header>
  </nz-header>
  <nz-content class="survey-content">
    <div nz-row [nzGutter]="[16, 24]">
      <div nz-col class="button-group" [nzSpan]="24">
        <div class="app-registration-container">
          <nz-card class="app-registration-nz-card">
            <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email"
                  >E-mail</nz-form-label
                >
                <nz-form-control
                  [nzSm]="14"
                  [nzXs]="24"
                  nzErrorTip="The input is not valid E-mail!"
                >
                  <input
                    nz-input
                    formControlName="email"
                    placeholder="Eg：xxx@example.com"
                  />
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phone" nzRequired
                  >Authorization Code</nz-form-label
                >
                <nz-form-control
                  [nzSm]="14"
                  [nzXs]="24"
                  nzErrorTip="The code is not valid authorization code!"
                >
                  <input
                    nz-input
                    formControlName="code"
                    placeholder="Please input code!"
                  />
                </nz-form-control>
                <button
                  nz-button
                  nzType="default"
                  (click)="sendVerificationCode()"
                  [nzLoading]="sendingCode"
                >
                  Send Code
                </button>
              </nz-form-item>
              <nz-form-item>
                <button nz-button nzType="primary" [nzLoading]="loggingIn">
                  Submit
                </button>
              </nz-form-item>
            </form>
            <!-- <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email"
                  >E-mail</nz-form-label
                >
                <nz-form-control
                  [nzSm]="14"
                  [nzXs]="24"
                  nzErrorTip="The input is not valid E-mail!"
                >
                  <input
                    nz-input
                    formControlName="email"
                    id="email"
                    placeholder="Ex：xxx@example.com"
                  />
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phone" nzRequired
                  >Authorization Code</nz-form-label
                >
                <nz-form-control
                  [nzSm]="14"
                  [nzXs]="24"
                  nzErrorTip="The code is not valid phone number!"
                >
                  <input
                    nz-input
                    formControlName="authCode"
                    id="authCode"
                    placeholder="Please input code!"
                  />
                </nz-form-control>
                <button nz-button nzType="default" (click)="getAuthCode()">
                  Send Code
                </button>
              </nz-form-item>

              <div class="register-submit-button">
                <nz-form-item nz-row class="register-area">
                  <nz-form-control [nzSpan]="14" [nzOffset]="6">
                    <button
                      nz-button
                      nzType="primary"
                      style="margin-left: 30px"
                    >
                      Submit
                    </button>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </form> -->
          </nz-card>
        </div>
      </div>
    </div>
  </nz-content>
</nz-layout>
