.dashboard {
  position: absolute;
  padding: 10px;
  width: 100%;
  height: 100%;
  background-color: white;
}
.dashboard-content .dashboard-nav {
  position: absolute;
  bottom: 100px;
  z-index: 99;
}
.dashboard .dashboard-header,
.dashboard-footer {
  position: absolute;
  padding: 0;
  background-color: transparent;
}
.dashboard .dashboard-header {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 15px;
  left: 35px;
  z-index: 99;
}
.dashboard .dashboard-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 95%;
}
