<!-- <nz-layout class="dashboard"> -->
<!-- <nz-header class="dashboard-header">
    <nz-page-header nzTitle="Dashboard"
      ><nz-page-header-extra>
        <button
          nz-button
          nzType="primary"
          [nzSize]="size"
          nzShape="round"
          (click)="goToLogin()"
        >
          <span nz-icon [nzType]="'smile'" [nzTheme]="'twotone'"></span>
          Login
        </button>
      </nz-page-header-extra></nz-page-header
    >
  </nz-header>
  <nz-content class="dashboard-content"> -->
<div class="dashboard-content">
  <router-outlet></router-outlet>
  <div class="dashboard-nav"></div>
</div>

<!-- </nz-content>
  <nz-footer class="dashboard-footer"
    ><nz-button-group>
      <button nz-button nzType="default" (click)="goToMain()">Homepage</button>
      <button nz-button nzType="default" (click)="goToCommunity()">
        Community
      </button>
      <button nz-button nzType="default" (click)="goToNews()">News</button>
      <button nz-button nzType="default" (click)="goToMe()">Me</button>
    </nz-button-group></nz-footer
  > -->
<!-- <nz-button-group>
    <div class="tab-button">
      <button nz-button nzType="default" (click)="goToMain()">Homepage</button>
      <button nz-button nzType="default" (click)="goToCommunity()">
        Community
      </button>
      <button nz-button nzType="default" (click)="goToNews()">News</button>
      <button nz-button nzType="default" (click)="goToMe()">Me</button>
    </div>
  </nz-button-group> -->
<!-- </nz-layout> -->
