<nz-layout class="dashboard">
  <nz-header class="dashboard-header">
    <!-- <button
      nz-button
      nzType="primary"
      [nzSize]="size"
      nzShape="round"
      (click)="goToLogin()"
    >
      <span nz-icon [nzType]="'smile'" [nzTheme]="'twotone'"></span>
      Login
    </button> -->
    <div
      style="background-color: transparent; width: 100px; height: 100px"
      (click)="goToLogin()"
    ></div>
  </nz-header>
  <nz-content class="dashboard-content">
    <router-outlet></router-outlet>
  </nz-content>
  <nz-footer class="dashboard-footer">
    <button
      (click)="goToMain()"
      style="
        background-color: transparent;
        width: 70px;
        height: 60px;
        margin: 0 15px;
        border: none;
      "
    >
      &nbsp;&nbsp;&nbsp;&nbsp;
    </button>
    <button
      (click)="goToCommunity()"
      style="
        background-color: transparent;
        width: 70px;
        height: 60px;
        margin: 0 15px;
        border: none;
      "
    >
      &nbsp;&nbsp;&nbsp;&nbsp;
    </button>
    <button
      (click)="goToNews()"
      style="
        background-color: transparent;
        width: 70px;
        height: 60px;
        margin: 0 15px;
        border: none;
      "
    >
      &nbsp;&nbsp;&nbsp;&nbsp;
    </button>
    <button
      (click)="goToMe()"
      style="
        background-color: transparent;
        width: 70px;
        height: 60px;
        margin: 0 15px;
        border: none;
      "
    >
      &nbsp;&nbsp;&nbsp;&nbsp;
    </button>
  </nz-footer>
</nz-layout>
