.begin-content {
  /* margin: auto; */
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../asset/main.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.btn {
  position: absolute;
  top: 79%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.title {
  position: absolute;
  height: 400px;
  width: 300px;
  padding: 50px 20px;
  border-radius: 2px;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid rgb(248, 245, 245);
}
